/* Importing google font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

#skill {
  padding-top: 15rem;
  @media screen and (max-width: 414px) {
    padding-top: 10rem;
  }
}

.skill_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  text-align: center;
  padding-top: 5em;
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
  .proj-left {
    width: 400px;
    .bar-skills {
      height: 60px;
      @media screen and (max-width: 650px) {
        height: 40px;
      }
      label {
        justify-content: left;
      }
    }
    @media screen and (max-width: 650px) {
      width: 60%;
    }
  }
  .proj-right {
    width: 500px;
    @media screen and (max-width: 650px) {
      width: 80%;

      .tagcloud {
        letter-spacing: 0.0625em;
        font-size: 0.5em;
      }
    }
  }
}
