#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  .profile-pic {
    width: 400px;
    height: 280px;
    justify-content: center;

    .profile-pic-mov {
      background: #ffffff;
      max-width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 0 20px #ffffff;
    }
  }
  .profile_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 600px;
    text-align: center;
    @media screen and (max-width: 450px) {
      width: 80%;
    }

    a {
      margin-top: 1.5rem;
      text-decoration: none;
      color: #000;
      background: #fff;
      padding: 0.65rem 1rem;
      border-radius: 10px;
      font-size: 0.85rem;
      text-transform: capitalize;
      &:hover {
        background: #ffff00;
      }
    }
    div {
      position: absolute;
      background: rgba(255, 255, 255, 0.15);
      color: #fff;
      padding: 0.35rem 1rem;
      border-radius: 25px;
      font-size: 0.85rem;
      cursor: pointer;
    }
  }
}
