#about {
  padding-top: 7rem;
  @media screen and (max-width: 414px) {
    padding-top: 5rem;
  }
}

.about_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 7rem;

  .about_left {
    max-width: 500px;
    padding-top: 10px;
    p {
      font-size: 15px;
      color: #8d8d8d;
      font-weight: 300;
      text-align: justify;
    }
  }
  .slide-container {
    max-width: 400px;
    max-height: 280px;
    justify-content: center;
    padding-top: 5px;
    margin-right: 0px;
    @media screen and (max-width: 410px) {
      width: 90%;
    }
    @media screen and (max-width: 768px) {
      width: 60%;
    }
  }
}

@media screen and (max-width: 992px) {
  .about_container {
    flex-direction: column;
    top: 3rem;
    .about_left {
      width: 60%;
      margin-left: 55px;
    }
  }
}
