.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  position: relative;
  top: 15rem;
  @media (max-width: 400px) {
    position: relative;
    top: 70rem;
  }
  @media (max-width: 414px) {
    position: relative;
    top: 70rem;
  }

  .left-section {
    p {
      font-size: 0.85rem;
    }
  }
  .right-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    h4 {
      font-size: 0.85rem;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .stick {
      height: 2px;
      width: 3rem;
      background: #fff;
    }

    .enter_icons {
      display: flex;
      gap: 0.5rem;
    }
  }
}
