#experience {
  padding-top: 10rem;
}
.time_line {
  top: 5rem;
  margin-bottom: 15rem;
  span {
    color: #fff;
  }
}

.project {
  padding-top: 7rem;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: white;
  img {
    width: 100%;
  }
  figcaption {
    text-align: center;
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
    img {
      width: 50%;
    }
    gap: 30px;
  }
}
